{% extends 'base.html.twig' %}

{% block title %} Bienvenue {% endblock %}

{% block body %}
<h1 class="display-4 mt-5"> Bienvenue dans la page d'accueil ! </h1>
<h2 class="display-6 mt-5"> Ravie de vous revoir {{ app.user }}</h2>

{% endblock %}
